body {
  background-image: url('../img/logged_in.png');
  background-size: cover;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 17px;
}
.repo-background{
  background-color: black;
  border:1px solid grey;
  margin-top:10vh;
  padding:20px 50px;
}
.repositories-heading{
  color: #16A085;
  font-family: 'Barlow Condensed', sans-serif;
}
.list-item{
  background-color: black;
}
.list-item:hover,
.list-item:focus{
  background-color: #424242;
}
a {
  color:#16A085;
  text-decoration: underline;
}
a:hover,a:focus{
  color:#16A085;
  text-decoration: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
