body {
  background: url("../img/background.jpg");
  font-family: 'Barlow Condensed', sans-serif;
}

.navbar-default {
  background-color: #222;
  border: 0px;
  font-family: 'VT323', monospace;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
  color: #16A085;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #085043;
}

.navbar-default .navbar-brand {
  text-transform: uppercase;
  color: #16A085;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  text-transform: uppercase;
  color: #085043;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form  {
  border-color: #555;
}
.navbar-form  {
  overflow: hidden;
}
