
.navbar-default {
  background-color: #222;
  border: 0;
  font-family: 'VT323', monospace;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
  color: #16A085;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #085043;
}

.navbar-default .navbar-brand {
  color: #16A085;
  font-size: 24px;
  text-transform: uppercase;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #085043;
  text-transform: uppercase;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form  {
  border-color: #555;
}
.navbar-form  {
  overflow: hidden;
}
