<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" /> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<link href="{{ url_for('static', filename='css/fonts.css')}}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
