{% extends "./extends/main.html" %}

{% set title = 'Add Collaborators' %}

{% block content %}
<form id="login-form" action="/add_repositories" method="post" role="form" style="display: block;" enctype="multipart/form-data">
    <div class="form-group">
      <input type="text" name="repo_name" id="repo_name" tabindex="1" class="form-control" placeholder="Repository Name" value="">
    </div>
    <div class="form-group">
      <input type="file" name="file" id="file" class="inputfile" webkitdirectory="" directory=""/>
      <label for="file" style="font-weight:100;"><a class="panel-links text-center">Commit</a></label>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <input type="submit" tabindex="4" class="form-control btn btn-login" value="Add Collab">
        </div>
      </div>
    </div
  </form>
{% endblock %}
