<!DOCTYPE html>
<html>

 <head>
  {% include './includes/imports.html' %} {% include './includes/header.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/logged_in.css')}}" type="text/css" />
 </head>
 <body>
   <div class="container-fluid repo-background col-md-4 col-md-offset-4">

     <h3 class="repositories-heading text-center">Repositories </h3>
     <hr>
     <ul class="list-group">
     {% for repo in repositories %}
            <li class="list-group-item list-item"><a href="/repos/">{{ repo }}</a></li>
     {% endfor %}
   </ul>
  </div>
 </body>

</html>
