{% extends "./extends/main.html" %}

{% set title = request.path %}

{% block extra_includes %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/highlight.css')}}" type="text/css" />
{% endblock %}

{% block header_button %}
{% if session['user'] == request.path.split('/')[2] %}
<form id="commit-form" action="/add_commit/{{'/'.join(request.path.split('/')[2:4])}}" method="post" role="form" style="display: block;" enctype="multipart/form-data">
  <a href="/add_collaborators/{{'/'.join(request.path.split('/')[2:4])}}">Add collaborators</a>
  <input type="file" name="file" id="file" class="inputfile" webkitdirectory="" directory=""/>
  <label for="file" style="font-weight:100;"><a>Commit</a></label> {% endif %}
</form>
<script type="text/javascript">
  document.getElementById("file").onchange = function() {
    document.getElementById("commit-form").submit();
  };
</script>
{% endblock %}

{% block content %}

  <pre style="background-color:#222;border:none">
      <code class="hljs {{ code_type }}">
{{ code }}
      </code>
  </pre>
  <script src="{{ url_for('static', filename='js/highlight.js')}}"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
{% endblock %}
