{% extends "./extends/main.html" %}

{% if session['user'] and session['user'] == request.path[1:] %}
{% set title = 'Your' %}
{% else %}
{% set title = request.path[1:] + "'s" %}
{% endif %}
{% set title = title + ' Repositories' %}

{% block message %}
{% endblock %}

{% block content %}
  <ul class="list-group">
    {% for repo in repositories %}
    <a href="/{{request.path[1:]}}/{{repo}}">
      <li class="list-group-item list-item panel-links">{{ repo }}</li>
    </a>
    {% endfor %}{% if session['user'] and session['user'] == request.path[1:] %}
    <hr>
    <a href="/add_repositories">
      <li class="list-group-item list-item panel-links">Add repositories</li>
    </a>
    {% endif %}
  </ul>
{% endblock %}
